.container {
    background-color: #ce1cdf;
    width: 500px;
    height: 700px;
}
.container {
    background-color: #ce1cdf;
    width: 500px;
    height: 700px;
}
.container {
    background-color: #ce1cdf;
    width: 500px;
    height: 700px;
}
.container {
    background-color: #ce1cdf;
    width: 500px;
    height: 700px;
}
.container {
    background-color: #ce1cdf;
    width: 500px;
    height: 700px;
}.container {
    background-color: #ce1cdf;
    width: 500px;
    height: 700px;
}