@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@400..700&family=Croissant+One&display=swap');

body {
    height: 100vh;
    font-family: "Caveat", cursive;
    background-image: url("thelastdrop.jpg") ;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgb(85, 43, 165);
    display: flex;
    padding: 50px;
    gap: 30px;
    border-radius: 10%;
    border: 10px solid chartreuse;
    border-radius: 2px ;
}

.controls {
    display:flex;
    gap: 20px;

}
